name: Docs

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install and configure poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
    - name: cache deps
      id: cache-deps
      uses: actions/cache@v2
      with:
        path: .venv
        key: pydeps-${{ hashFiles('**/poetry.lock') }}

    - name: install_dependencies_only
      run: poetry install --no-interaction --no-root --with docs
      if: steps.cache-deps.outputs.cache-hit != 'true'

    - name: install_project
      run: poetry install --no-interaction --with docs

    - name: Compile documentation
      run: |
        sudo apt-get install python3-sphinx
        source $VENV
        pip install ipykernel
        python -m ipykernel install --user --name twpaenv
        make -C docs html


    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3

      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: '**/docs/build/html'
